.it-config{
  &__check-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    width: 200px;
    padding: 10px 5px;
    border-bottom: 1px solid #DDD;
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 200px;
    padding: 10px 5px;
    border-bottom: 1px solid #DDD;
  }

  &__link {
    margin-right: 5px;
  }
}

@media (max-width: 568px) {
  .it-config-item {
    width: 100%;
  }
}
