.it-sider__wrapper {
  background-color: rgba(0,0,0,0.3);
  overflow: hidden;
}

.it-sider {
  position: absolute;
  top: 0;
  left: 0;
}

.it-sider {
  padding: 15px;
  overflow-y: auto;
  background-color: #F6F6F6;

  .it-sider__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding-bottom: 5px;
    border-bottom: 1px solid #666;
    margin-bottom: 15px;

    h2 {
      font-size: 1.2em;
    }
  }
}

@media (max-width: 568px) {
  .it-sider__wrapper {
    transition: all 0.2s ease-out;
  }
  .it-sider__wrapper:not(.it-hide) {
  }
  .it-sider__wrapper.it-hide {
    height: 0;
    top: 100%;
  }

  .it-sider__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .it-sider {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 0;

    box-shadow: 3px 3px 1em 0 rgba(0, 0, 0, 0.3);
  }

  .it-sider__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

@media (min-width: 568px) {
  .it-sider__wrapper {
    transition: width 0.2s ease-out;
  }
  .it-sider__wrapper:not(.it-hide) {
    order: 3;
  }
  .it-sider__wrapper.it-hide {
    width: 0;
    order: 2;
  }

  .it-sider__wrapper {
    position: relative;
    width: 230px;
    height: 100%;
  }

  .it-sider {
    height: 100%;
  }
}
