.it-main {
  display: flex;
  flex-direction: row;

  position: relative;
  width: 100%;
  height: 100%;

  background-color: #EFEFEF;

  &__content {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-grow: 1;
    height: 100%;

    background-color: #FFF;
  }

  &__controller {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &__form-accordion {
    width: 200px;
    background-color: #FFF;
  }
}
