// color reference: [bootstrap](https://getbootstrap.com/docs/4.1/components/buttons/)

@default: #6C757D;
@primary: #017CFF;
@warning: #FFC208;
@success: #28a745;
@light:   #f8f9fa;

.it-button {
  margin: 2px;
  padding: 6px 12px;

  border-style: solid;
  border-radius: 3px;
  background-color: transparent;
  background-image: none;
  color: @default;

  font-size: 1.1em;

  cursor: pointer;
}

.it-button.it-small {
  padding: 4px 6px;
  font-size: 0.8em;
}

.it-button.it-compact {
  padding: 1px;
}

.it-button.it-bordered {
  border: 1px solid @default;
}

.it-button:disabled {
  opacity: 0.5;
}

.it-button.it-bordered:disabled {
  position: relative;
}
.it-button.it-bordered:disabled::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #000;
  opacity: .5;
}

.it-button:active:not(:disabled),
.it-button.it-active:not(:disabled) {
  color: @default;
  background-color: transparent;
  background-image: none;
  border-color: @default;
  box-shadow: 0 0 0 0.2rem rgba(108,117,125,.5);
}

.it-button:hover:not(:disabled) {
  color: #fff;
  background-color: @default;
  border-color: @default;
}

@colors: {
  primary: @primary;
  warning: @warning;
  success: @success;
  light:   @light;
};

each(@colors, {
  .it-button.it-@{key} {
    color: @value;
  }

  .it-button.it-bordered.it-@{key} {
    border: 1px solid @value;
  }

  .it-button.it-@{key}:active:not(:disabled),
  .it-button.it-@{key}.it-active:not(:disabled) {
    color: @value;
    border-color: @value;
  }

  .it-button.it-@{key}:hover:not(:disabled) {
    color: #FFF;
    background-color: @value;
    border-color: @value;
  }
});
