.it-timer-list {
  .it-timer-list__item {
    padding: 15px 20px;
    margin-bottom: 5px;

    background: #EFEFEF;
  }

  .it-timer-item__header {

  }

  .it-timer-item__name {
    margin-right: 5px;
  }

  .it-timer-item__digits {
    font-family: monospace;
    font-size: 3em;
    line-height: 100%;
  }
}
