.it-timer-display {
  display: inline-block;
  padding: 10px 30px;
  margin: 10px;

  font-family: monospace;
  background-color: #F0F8FF;

  .it-timer-display__digits {
    font-size: 5em;
    line-height: 100%;
  }
}
